

* {
    /* box-sizing: 100; */
}

body {
    background-image: url('4.jpg');
    background-size: cover;
    background-position:center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family:'time new roman ', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    color: aliceblue;

}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}
/* @keyframes move-image {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
  
  div {
    animation: move-image 10s linear infinite;
    background: url('6.jpeg') repeat-x;
    /* height: 100vh;
    width: 100vh; */
/* } */
